* {
  margin: 0;
  padding: 0
}

body {
  font-family: Futura, Roboto, Nunito, Helvetica, sans-serif
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-items: center;
  background-color: mediumaquamarine;
  padding: 32px 0
}

hr {
  margin: 8px 0
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
  padding: 24px;
  background-color: #DDDDDD;
  border-radius: 12px;
  overflow: hidden;
}

.form-row {
  display: flex;
  flex-direction: row;
  padding: 4px
}

label {
  width: 50%;
  margin: 0 8px;
  text-align: right
}

input,
select {
  width: 144px;
  margin: 0 8px
}

input[type="radio"],
input[type="checkbox"] {
  width: auto
}

#radio-group label,
#checkbox-group label {
  width: auto;
  margin: auto;
  font-family: Helvetica
}

textarea {
  width: 160px;
  height: 64px
}

#submit {
  width: 96px;
  height: 40px;
  font-size: 1em;
  margin: 32px auto;
  border: 2px darkturquoise solid;
  border-radius: 8px;
  background-color: turquoise
}

footer {
  padding: 32px 0;
  background-color: seagreen
}

footer nav {
  margin: 8px auto
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center
}

footer li {
  margin: auto 8px
}

footer h4 {
  text-align: center
}

@media screen and (max-width: 480px) {
  main {
    background-color: #DDDDDD
  }

  form {
    padding: 0
  }
}