* {
  margin: 0;
  padding: 0
}

body {
  font-family: Futura, Roboto, Nunito, Helvetica, sans-serif
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-items: center;
  background-color: #2E8B57;
  padding: 32px 0
}

hr {
  margin: 8px 0
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
  padding: 24px;
  background-color: #C6FEDF;
  border-radius: 12px;
  overflow: hidden;
  /* flex: 1 0 auto; */
}

.form-row {
  display: flex;
  flex-direction: row;
  padding: 4px
}

label {
  width: 50%;
  margin: 0 8px;
  text-align: right
}

input,
select {
  width: 144px;
  margin: 0 8px
}

input[type="radio"] {
  width: auto
}

#radio-group label {
  width: auto;
  margin: auto;
  font-family: Helvetica
}

textarea {
  width: 160px;
  height: 64px
}

#submit {
  width: 96px;
  height: 40px;
  font-size: 1em;
  margin: 32px auto;
  border: 0 solid;
  border-radius: 8px;
  background-color: darkturquoise
}

footer {
  background-color: darkgreen
}
  