* {
  margin: 0;
  padding: 0
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-items: center;
  background-color: #2E8B57;
  padding: 32px 0
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
  padding: 24px;
  background-color: #C6FEDF;
  border-radius: 12px;
  overflow: hidden;
  /* flex: 1 0 auto; */
}

input {
  min-width: 288px;
  max-width: 320px
}

#submit {
  width: 96px;
  height: 40px;
}
  